*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

p{
  padding-top: 20px
}