/* 
HEADER
*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
  line-height: 48.5px;
  padding: 0 10px 0 10px;
  background-color: white;
}

header li{
  display: inline-block;
}

.logo{
  width: 96px;
}

header nav img{
  width: 100%;
  vertical-align: middle;
}

header nav ul.first-list li:nth-child(1n + 2){
  margin-left: 20px;
}

header nav ul.second-list li{
  margin-right: 20px;
}

header div.login-btn{
  text-align: center;
}

header nav ul li:hover{
  border-bottom: 2px solid black;
}
/* /HEADER */


/* 
JUMBOTRON
*/
 .jumbotron{
   height: 550px;
   margin-top: 50px;
   background-color: #b4d0e7;
 }

 .jumbotron-content{
   width: 87%;
   padding-top: 60px;
   margin: 0 auto;
 }

 .jumbotron-title{
   font-size: 37px;
 }

 .jumbotron-description{
   width: 370px;
   margin-top: 50px;
 }

 .jumbotron-description div.btn-try{
   margin: 25px 0 10px 0;
 }

 .arrow{
   display: block;
   margin-top: 30px;
   font-size: 35px;
 }

 .jumbotron-image{
  margin-right: 60px;
  width: 700px;
 }

 .jumbotron-image img{
   width: 100%;
 }
/* /JUMBOTRON*/


/* 
MAIN
*/
/* SEZIONE PIANI */
section{
  margin-top: 100px;
}

.top-section-title-radio h2{
  font-size: 20px;
  margin-bottom: 40px;
}

section div.fake-radio-buttons{
  margin-bottom: 40px;
}

div.radio-btn{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  vertical-align: middle;
}

div.radio-btn.checked{
  border: 4px solid #0061ff;
}

.money-by-time{
  margin-right: 10px;
  vertical-align: middle;
}

.column-container{
  margin-top: 10px;
}

.column{
  width: calc(100% / 3 - 30px);
  height: 800px;
  border: 1px solid #cdcdd0;
  margin-bottom: 40px;
}

.column-header{
  border-bottom: 1px solid #cdcdd0;
  text-align: center;
  padding: 5px;
}

.column-content{
  padding: 20px 36px 0 30px;
}

.column-content > *, .type-of-plan > *{
  margin-bottom: 10px;
}

.cost{
  display: block;
  font-weight: bold;
}

.type-of-payment{
  color: #76838f;
}

section div.plan-description{
  margin-top: 30px;
}

section.plans ol{
  margin: 0;
  margin-left: 17px;
}

section.plans ol li{
  margin-bottom: 15px;
}

.plan-try-btn{
  margin: 50px 0 20px 0;
  background-color: #0061ff;
  text-align: center;
  padding: 7px 15px 7px 15px;
}

.plan-try-btn a{
  color: white;
  font-size: bold;
}

.buy-now{
  text-decoration: underline;
  text-decoration-color: rgba(160, 196, 255, 0.2);
  color: #0463ff;
}

.hr{
  margin: 30px 0 30px 0;
  width: 45px;
  border-bottom: 1px solid #d8d8db;
}

.catchy-points h4{
  margin-bottom: 20px;
}

.fa-solid.fa-check{
  color: #005cff;
}
/* /PRIMA COLONNA */



/* SECONDA E TERZA COLONNA */
.column.center{
  margin: 0 45px 0 45px;
}


/* COLONNA IN BASSO */
.bottom-column{
  border: 1px solid #cdcdd0;
}

.bottom-column p{
  padding: 20px 0 10px 0;
}

.column-content.bottom{
  width: 81%;
}

.contact-btn{
  margin-top: 20px;
  background-color: #0061ff;
  text-align: center;
  padding: 6px 5px 6px 5px;
}

.contact-btn a{
  color: white;
  font-size: bold;
}
/* /SEZIONE PIANI */